# W1D2
openai
ipython
# W2D1
numpy
matplotlib
plotly
pandas
scipy
scikit-learn
python-dotenv
asyncio
wandb
duckduckgo_search
# W3D1
bitsandbytes
datasets
accelerate
loralib
peft
transformers
trl
torch
ipykernel
ipywidgets
jupyter
# W3D2
langchain
langchain-core
langchain-community
langchain-openai
qdrant-client
tiktoken
pymupdf
grandalf
# W4D1
langchainhub
ragas
# W4D2
llama-index
wikipedia
llama-index-readers-wikipedia
llama-index-vector-stores-qdrant
qdrant-client
sqlalchemy
llama-index-callbacks-wandb
#W5D1
#W5D2
requests
arxiv
faiss-cpu
